<%= form_with(model: admin, local: true, class: "mx-5") do |form| %>
  <% if admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
      <% admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.text_field :username, class: "form-control py-4", placeholder: "Username" %>
  </div>

  <div class="field mb-3">
    <%= form.password_field :password, class: "form-control py-4", placeholder: "Password" %>
  </div>

  <div class="field mb-4">
    <%= form.password_field :password_confirmation, class: "form-control py-4", placeholder: "Confirm Password" %>
  </div>

  <div class="actions">
    <%= form.submit "Create Account", class: "btn bg-black text-white rounded-btn w-100 mb-5" %>
  </div>
<% end %>
