<p id="notice"><%= notice %></p>

<h1>Invoices</h1>

<table>
  <thead>
    <tr>
      <th>Bill from email</th>
      <th>Bill from name</th>
      <th>Bill to email</th>
      <th>Bill to name</th>
      <th>Item ref</th>
      <th>Item type</th>
      <th>Item qty</th>
      <th>Item rate</th>
      <th>Item price</th>
      <th>Discount</th>
      <th>Tax</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.bill_from_email %></td>
        <td><%= invoice.bill_from_name %></td>
        <td><%= invoice.bill_to_email %></td>
        <td><%= invoice.bill_to_name %></td>
        <td><%= invoice.item_ref %></td>
        <td><%= invoice.item_type %></td>
        <td><%= invoice.item_qty %></td>
        <td><%= invoice.item_rate %></td>
        <td><%= invoice.item_price %></td>
        <td><%= invoice.discount %></td>
        <td><%= invoice.tax %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path %>
