<div class="container">
  <%= render "layouts/nav" %>
  <p id="notice"><%= notice %></p>

  <h2 class="font-weight-bold text-green mb-5 pt-5">Overview</h2>
  <div class="row mb-5 pb-5">
    <div class="col-md-3">
      <div class="py-3 px-5 rounded shadow bg-green">
        <h1 class="text-white">
          <%= @projects_inprogress %>
        </h1>
        <p class="text-white">Projects<br>in-progress</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="py-3 px-5 rounded shadow bg-orange">
        <h1 class="text-dark">
          <%= @projects_canceled %>
        </h1>
        <p class="text-dark">Projects<br>canceled</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="py-3 px-5 rounded shadow bg-green-light">
        <h1 class="text-green">
          <%= @projects_completed %>
        </h1>
        <p class="text-green">Projects<br>completed</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="py-3 px-5 rounded shadow bg-green-dark">
        <h1 class="text-green-light">
          <%= @projects %>
        </h1>
        <p class="text-green-light">Projects<br>in total</p>
      </div>
    </div>

  </div>
</div>
