<div class="container">
  <%= render "layouts/nav" %>
  <p id="notice"><%= notice %></p>

  <h2 class="font-weight-bold mb-5 text-green">
    Project Details
  </h2>

  <div class="row mb-5 text-muted">
    <div class="col-lg-6 text-dark">
      <div class="py-5 bg-green-light px-5">
        <p class="mb-3">
          <strong>Name:</strong><br>
          <span style="display: block; border: 1px dashed #609992;" class="p-2 mt-2">
            <%= @project.name %>
          </span>
        </p>

        <p class="mb-3">
          <strong>Description:</strong><br>
          <span style="display: block; border: 1px dashed #609992;" class="p-2 mt-2">
            <%= @project.description %>
          </span>
        </p>

        <p class="mb-3">
          <strong>Progress:</strong><br>
          <span style="display: block; border: 1px dashed #609992;" class="p-2 mt-2">
            <%= @project.progress %>
          </span>
        </p>

        <p class="mb-3">
          <strong>Status:</strong><br>
          <span style="display: block; border: 1px dashed #609992;" class="p-2 mt-2">
            <%= @project.status %>
          </span>
        </p>

        <p class="mb-3">
          <strong>Type:</strong><br>
          <span style="display: block; border: 1px dashed #609992;" class="p-2 mt-2">
            <%= @project.work_type %>
          </span>
        </p>

        <p class="mb-3">
          <strong>Cost:</strong><br>
          <span style="display: block; border: 1px dashed #609992;" class="p-2 mt-2">
            <%= @project.cost %>
          </span>
        </p>

        <%= link_to 'Edit Project', edit_project_path(@project), class: "btn bg-green text-white rounded-btn mt-3" %>
      </div>
    </div>
    <div class="col-lg-5 mx-auto">
      <div class="py-4 px-5 bg-green mb-4">
        <h4 class="font-weight-bold border-bottom pb-3 mb-3 text-white">Project Owner:</h4>
        <p class="mb-3">
          <%= link_to @project.client.name, {}, class: "text-white" %>
        </p>
      </div>
      <div class="mb-4 py-4 px-5 border">
        <h4 class="font-weight-bold pb-3 mb-3 text-green">Project Images:</h4>
        <p>
          <% if @project.image.attached? %>
            <%= image_tag @project.image, style: "width: 100%; display: block; margin: 0 auto;" %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
