<p id="notice"><%= notice %></p>

<h1 class="font-weight-bold mb-5 text-center">
  Project Details
</h1>

<div class="row mb-5 text-muted">
  <div class="col-md-6 mx-auto bg-light py-4 text-center">
    <p>
      <strong>Ref:</strong>
      <%= @project.ref_id %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @project.description %>
    </p>

    <p>
      <strong>Site measurement:</strong>
      <%= @project.site_measurement %>
    </p>

    <p>
      <strong>Progress:</strong>
      <%= @project.progress %>
    </p>

    <p>
      <strong>Type:</strong>
      <%= @project.work_type %>
    </p>

    <p>
      <strong>Cost:</strong>
      <%= @project.cost %>
    </p>

    <p>
      <strong>Client:</strong>
      <%= link_to @project.client.name %>
    </p>

    <!-- <%= link_to 'Edit', edit_project_path(@project) %> | -->
  </div>
</div>
